/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .test {
      flex-shrink: 0;
      width: 17rem;
      margin: 2rem 2rem 2rem 0;
    }
  
    .bg-primary {
        background-color: #F47BB6;
    }

    .border-primary {
        border-color: #F47BB6;
    }
    
    .text-primary {
        color: #F47BB6;
    }

    .bg-secondary {
        background-color: #F5F5F5;
    }

    .border-secondary {
        border-color: #F5F5F5;
    }
    
    .text-secondary {
        color: #F5F5F5;
    }

    .single-card {
        height: 30rem;
    }

    .myshadow {
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 1)
     }

    .myshadow2 {
        box-shadow: 0 10px 20px -3px rgba(0, 0, 0, 0.5)
    }    
}

* {
    background-color: #F5F5F5;
}

p {
    background-color: transparent;
}

div {
    background-color: transparent;
}

.popup {
    position: fixed;
    top: 0;
    left:0 ;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner{
    position: relative;
    padding: 20px 34px;
    text-align: center; 
    width: 300px;
    height: 400px;
    max-width: 640px;
    background-color: #FFF;
}

.popup-inner .close-btn{
    position: absolute;
    bottom: 20px;
    left: 60px;
}

.popup-inner .submit-btn{
    position: absolute;
    bottom: 20px;
    right: 60px;
}